@model DDWAssignment.Models.Car
@{
    ViewBag.Title = "Booked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>Booking Successful</h2>
           

                <fieldset>
                    <div class="form-group">
                        <div>
                            @Html.LabelFor(c => c.Make)
                            @Html.DisplayFor(u => u.Make, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>
                            @Html.LabelFor(c => c.Model)
                            @Html.DisplayFor(u => u.Model, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>
                            @Html.LabelFor(c => c.Quantity)
                            @Html.DisplayFor(u => u.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>
                            @Html.LabelFor(c => c.Cost)
                            @Html.DisplayFor(u => u.Cost, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                       
                    </div>
                </fieldset>
            

        </div>
    </div>
</div>


